/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

#higher {
    background-color: rgb(10, 69, 108);
    height: 100vh;
    width: 100%;
}

#higher header {
    background-color: #c6ced5;
    font-family: 'lato', sans-serif;
}

header a {
    text-decoration: none;
    color: coral;
}

header {
    text-align: center;
    box-shadow: 0 0 6px;
    width: 100%;
    height: 10vh;
}


#quiz {
    height: 80vh;
    width: 100%;
    background-color: #d0d9df;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-area {
    width: 80%;
    height: 30vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(163 189 205 / 48%);
}

.quiz-area h1 {
    font-size: 38px;
    margin: 20px auto;
    padding: 0 20px;
    color: #190b0b;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    width: 90%;
}

.question {
    padding: 30px;
}

.question  h2{
   margin-bottom: 20px;
   font-weight: 500;
}

.opt  {
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
    text-align: left;
    padding: 15px;
    background-color: transparent;
    border-color: #0000007e;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    
}

.opt:hover{
    background: #190b0b;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.hid {
    display: none;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #c9d2da;
}

#social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 45px;
}

#social ul li {
    list-style-type: none;
    width: 25%;
}

a i {
    color: rgb(43, 156, 226);
}

#social h2 {
    font-family: 'lato', sans-serif;
    font-style: italic;
    color: coral;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
}

.fa-gamepad {
    color: rgb(43, 156, 226);
    right: 12px;
}

.fa-greater-than-equal {
    color: rgb(43, 156, 226);
    left: 12px;
}

.start button {
    font-size: 50px;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    background-color: #6da0c7;
    height: 20px 30px;
    padding: 15px;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

.start button:hover {
    font-weight: 600;
    background-color: #20e49f96;
}

.question .next, .restart {
    padding: 10px;
    background-color: #208fe4;
    font-size: 21px;
    font-weight: 500;
    width: 200px;
    right: -50px;
    border-radius: 5px;
    border-color: transparent;
}

.question .next:hover {
    background-color: darkgreen;
    color: #fff;
    font-weight: 700;
}

.opt.correct {
    background-color: green;
    color: white;
}

.opt.incorrect {
    background-color: red;
    color: white;
}

.opt[disabled] {
    color: #b0b0b0;
    cursor: not-allowed;
}

@media screen and (max-width: 576px)  {
    .quiz-area h1 {
        font-size: 19px;
    }

    .question h2 {
    font-weight: 400;
    font-size: 16px;
}

    .quiz-area {
        height: fit-content;
    }

}

@media screen and (min-width: 576px)  {
    
    .quiz-area h1 {
        font-size: 23px;
    }

    .quiz-area {
        height: fit-content;
    }

}

@media screen and (min-width: 768px) {
    header {
        padding: 40px 30px;
    }

    header a {
        font-size: 23px;
    }

    #social h2 {
        color: coral;
        font-size: 25px;
    }

    .fa-gamepad {
        right: 25px;
    }
    
    .fa-greater-than-equal {
        left: 25px;
    }

    .fa-gamepad {
    color: rgb(43, 156, 226);
    right: 12px;
}

.fa-greater-than-equal {
    color: rgb(43, 156, 226);
    left: 12px;
}

#social ul {
    padding-left: 120px;
}

.quiz-area {
    height: 50vh;
}

}

@media screen and (min-width: 992px) {
    #social ul {
        padding-left: 300px;
    }

    .quiz-area {
        height: 40vh;
    }
}

@media screen and (min-width: 1200px) {

    .quiz-area {
        height: 60vh;
    }

    .question .next {
        margin-top: 20px;
    }
}
